.spinnerContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Full height of the viewport */
  background: linear-gradient(135deg, #3498db, #f0f0f0);
}

.spinner {
  border: 8px solid rgba(0, 0, 0, 0.1); /* Light grey border */
  border-top: 8px solid #3498db; /* Blue color for the spinner */
  border-radius: 50%; /* Make it a circle */
  width: 60px;
  height: 60px;
  animation: spin 1s linear infinite; /* Spin animation */
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loadingText {
  margin-top: 16px;
  font-size: 1.2em;
  color: #333; /* Dark text color */
}

/* Add a gradient background */